@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    height: 80vh;
    font-family: inter;
    
}


header, footer {
    background-color: black;
    height: 10vh;
}

h2{


}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;

}

.container {
    text-align: center;
}

.color-box {
    height: 75px;
    width: 75px;
    margin: 10px;
    display: inline-block;
}

.buttons-container {
    margin-top: 20px;
}

button {
    height: 75px;
    width: 75px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#result-message {
    text-align: center;
}
