@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    height: 60vh;
    font-family: inter;
}
header {
    background-color: black;
    height: 8vh;
}
footer {
    background-color: black;
    height: 32vh;
}
main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: center;
}
.container {
    text-align: center;
}

.color-box {

    width: 75px;
    display: inline-block;
}
.buttons-container {

}

button {
    height: 55px;
    width: 55px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#result-message {
    text-align: center;
}
